<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>URL Shortener</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="container">
    <h1>🔗 URL Shortener</h1>

    <form id="form-url">
      <input type="text" id="url" name="original_url" placeholder="Enter a long URL..." required />
      <button type="submit">Shorten</button>
    </form>
  <script src="main.js"></script>
</body>
</html>